*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(224, 223, 223);
}

img{
    width:100%;
}

ul{
    padding: 0;
    list-style: none;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0px 16px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear{
    clear: both;
}

header{
    background-color: white;
}

.logo{
    width: 15%;
    /* background-color: yellow; */
}

.logo img{
    width: 80%;
}

.search-box{
    width: 60%;

}

.search-input{
    width: 400px;
    background-color: rgb(209, 211, 211);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 16px;
}

.search-input input{
    background-color: transparent;
    border: none;
}

.icons{
    width: 25%;
}

.incons-wrapper{
    padding: 0px;
    list-style: none;
    width: 300px;
    margin-left: auto;
    margin-top: 20px;
}

.incons-wrapper li{
    display: inline-block;
    margin-right: 5px;
}

.circle{
    width: 40px;
    height: 40px;
    background-color: rgb(180, 180, 180);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.logout-btn{
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 18px;
  background: radial-gradient(circle,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}


.sidepanel{
    width: 15%;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.feed-area{
    width: 60%;
    padding: 20px 100px;
}

.inshight-area{
    width: 25%;
    height: 90vh;
    padding: 15px;
}

.circle-frame{
    width: 80px;
    height: 80px;
    background-color: antiquewhite;
    border-radius: 50%;
    overflow: hidden;
}
.profile-info{
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 15px;
}

.profile-info h6{
    font-size: 20px;

}

.profile-info p{
    font-size: 14px;
}

.switch-btn{
    margin-top: 25px;
}

.switch-btn button{
    background-color: transparent;
    border: none;
    color: blue;
}

.side-menu{
    padding: 0;
    list-style: none;
    padding: 8px;
}

.mt-25{
    margin-top: 25px;
}

.side-menu li{
    padding: 10px;
    margin-bottom: 5px;
}

.ml-8{
    margin-left: 8px;
}

li.active{
    background-color: rgb(203, 207, 210);
    border-radius: 10px;
}


.stroies-box{
    margin-bottom: 10px;
}

.stories{
    background-color: white;
    padding: 10px;
    border-radius: 16px;
}


.story-frame{
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    position: relative;
}

.stories .story-frame-circle{
    width: 80px;
    height: 80px;
    background-color: yellow;
    border-radius: 50%;
    margin-bottom: 5px;
    overflow: hidden;
}

.story-frame-border{
    border: 2px solid rgb(220, 70, 70);
}

.story-frame-circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-story{
    width: 20px;
    height: 20px;
    background-color: skyblue;
    color: white;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 25px;
}

.feed-heading h3{
    display: inline-block;
}

.feed-heading button{
    background-color: transparent;
    border: none;
}

.post-box{
    width: 100%;
    background-color: white;
    border-radius: 16px;
    padding: 10px;
}


.post-profile-info .circle-frame{
    width: 50px;
    height: 50px;
}

.post-profile-info .profile-info h6{
    font-size: 12px;
}

.post-profile-info .profile-info p{
    font-size: 10px;
}

.post-profile-info .menu-btn button{
    background-color: transparent;
    border: none;
    margin-top: 10px;
}

.post-box .post-image{
    width: 100%;
    height: 500px;
    background-color: black;
    border-radius: 16px;
    overflow: hidden;
}

.post-box .post-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action-btns{
    margin-top: 10px;
}

.action-btns .like-box{
    display: inline-block;
    padding: 8px 16px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.action-btns .comment, .action-btns .share, .action-btns .save{
    margin-top: 10px;
    margin-left: 5px;
}

.se-btn{
    background-color: transparent;
    border: none;
}

.text-green{
    color: rgb(112, 189, 87);
    font-weight: 700;
}

.drop-btn{
    padding: 8px 16px;
    background-color: white;
    border: none;
    border-radius: 8px;
}

.mb-8{
    margin-bottom: 8px;
}

.sugg-profile .profile-circle{
    width: 60px;
    height: 60px;
    background-color: yellow;
    border-radius: 50%;
    overflow: hidden;
}

.sugg-profile .profile-circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fl-btn{
    background-color: transparent;
    border: none;
    color: blue;
}

.mt-10{
    margin-top: 10px;
}

.ml-8{
    margin-left: 8px;
}

.follow-ins{
    font-size: 12px;
    color: grey;
}

.quick-links a{
    text-decoration: none;
    font-size: 10px;
    color: black;
}

.quick-links span{
    font-size: 8px;
}